.connection {
  padding-top: 72px;
  @include mView {
    padding-top: 30px;
    background: #04081c;
    padding-bottom: 30px;
  }
  .connection__container {
    width: 562px;
    @include mView {
      width: 74%;
      margin: 0 auto;
    }
    @include sView {
      width: 88%;
    }
  }

  h2 {
    margin-bottom: 13px;
    @include mView {
      color: #fff;
    }
  }

  p {
    line-height: 1.35;
    font-size: 16px;
    width: 96%;
    margin: 0 auto;
    @include mView {
      color: #6e6e6e;
      margin: 0;
    }
  }

  .connection__text {
    text-align: center;
    margin-bottom: 42px;
    @include mView {
      text-align: left;
      margin-bottom: 25px;
    }
  }
}
