.for-whom{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 591px;
        height: 854px;
        background-size: cover;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
        right: -112px;
        background-image: url("/img/pic/bg-section-for.png");
    
    }
    .for-whom__content{
        width: 50%;
    }
    .for-whom__title{
        margin-bottom: 30px;
    }
    .for-whom__advantage-icon{
        margin-bottom: 30px;
    }
    .for-whom__advantage{
        margin-bottom: 30px;
        padding-left: 30px;
    }
}
.for-whom_paddig{
    padding-top: 96px;
    padding-bottom: 30px;
}