.main {
  color: #04081c;
  z-index: 4;
  .main__container {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 991px;
      height: 854px;
      background-size: cover;
      background-repeat: no-repeat;
      top: -33%;
      right: -32%;
      top: -169px;
      right: -377px;
      background-image: url("img/pic/bg-section-main.png");
    }
  }
  .main__content {
    width: 51%;
    p {
      font-size: 24px;
      margin-bottom: 40px;
      line-height: 1.35;
    }
  }
  .main__title {
    margin-bottom: 13px;
  }
  .main__alcohol {
    margin-bottom: 50px;
  }
}
