section.connection
   .container.connection__container   
      .connection__text
         h2.connection__title Связаться с нами
         p.connection__help  Не можете определиться с выбором? 
            |Напишите нам и мы подскажем! Если у вас ресторан и вы хотите преобрести нашу продукцию, 
            |оставьте свои данные и мы сделаем вам предложение о сотрудничестве.
      form.form(action="#").connection-form
         .connection-form__top
            .connection-form__col
               input(type="text" placeholder="Ваше имя").connection-form__input
               span.focus-border 
            .connection-form__col
               input(type="text" placeholder="Ваш e-mail адрес").connection-form__input
               span.focus-border 
            .connection-form__col
               input(type="text" placeholder="Ваш номер телефона").connection-form__input.error
               span.focus-border 
            .connection-form__col
               textarea(type="text" placeholder="Ваш вопрос или комментарий").connection-form__input
               span.focus-border.focus-border_textarea
         .connection-form__bottom
            .connection-form__btn   
               button(type="submit").btn-form  Отправить