section.for-whom.for-whom_margin
    .for-whom__content
        h2.for-whom__title Для кого наш продукт?
        ul.for-whom__advantage-icon.advantage-icon
            li.advantage-icon__item
            li.advantage-icon__item
            li.advantage-icon__item
            li.advantage-icon__item
            li.advantage-icon__item
            li.advantage-icon__item

        p.for-whom__text Безалкогольное вино — идеальный выбор для: 
        ul.for-whom__advantage.advantage
            li.advantage__item спортсменов и соблюдающих диету; 
            li.advantage__item автолюбителей; 
            li.advantage__item принимающих лекарства, не совместимые с алкоголем; 
            li.advantage__item беременных и кормящих женщин;
            li.advantage__item участников семинаров и бизнес-ланчей; 
            li.advantage__item употребляющих продукты "Халяль".
        p.for-whom__btn.btn-buy Заказать вино