section.full-taste
    .container.full-taste__container
        .full-taste__content
            h2.full-taste__title Полноценный вкус и аромат, полное отсутсвие алкоголя 
            p.full-taste__text 
                |Безалкогольное вино появилось в продаже сравнительно недавно, 
                |хотя о производстве этого напитка известно еще с древних времен. 
                |Вина, представленные в нашем магазине, производят по классической технологии. 
                |Деалкоголизация вина происходит методом обратного осмоса. 
                |Суть способа заключается в выполнении молекулярной фильтрации, 
                |в процессе которой напиток с высоким содержанием алкоголя прогоняется через вещества, 
                |способные удерживать молекулы спирта. Польза такого вина максимальна. 
                |#[br/] После деалкоголизации напиток не утрачивает цвет, оттенки аромата, вкус. 
                |Сохраняются все полезные вещества, так как состав не подвергается нагреванию. 
                |Напиток не теряет антиоксиданты, микроэлементы и витамины.
            a(href="#order").full-taste__btn.btn-buy.order Заказать вино