header.header
    .logo
        a(href="/") 
            img(src="#", alt="logo")
    .contact
        .contact__tel 
            a(href="#").contact__tel-link +375 29 395 38 67 
        .contact__inst 
            a(href="#").contact__inst-link @softwines_by