header.header
    .header__logo
        a(href="/").logo
            .logo__name 
                span.logo__name-text Soft Wines
            span.logo__tagline you always have a choice
    .header__contact.contact
        .contact__tel 
            a(href="tel:+375293953867").contact__tel-link +375 29 395 38 67 
        .contact__inst
            a(href="https://www.instagram.com/softwines_by" target="_blank").inst
                svg(width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg").inst__icon
                    path(clip-rule="evenodd" d="M0 2C0 0.895431 0.895431 0 2 0H9C10.1046 0 11 0.895431 11 2V9C11 10.1046 10.1046 11 9 11H2C0.895431 11 0 10.1046 0 9V2ZM5.49999 7.06668C6.36524 7.06668 7.06666 6.36526 7.06666 5.50001C7.06666 4.63476 6.36524 3.93334 5.49999 3.93334C4.63474 3.93334 3.93332 4.63476 3.93332 5.50001C3.93332 6.36526 4.63474 7.06668 5.49999 7.06668ZM5.49999 8.06668C6.91752 8.06668 8.06666 6.91754 8.06666 5.50001C8.06666 4.08248 6.91752 2.93334 5.49999 2.93334C4.08246 2.93334 2.93332 4.08248 2.93332 5.50001C2.93332 6.91754 4.08246 8.06668 5.49999 8.06668ZM8.79999 2.93333C9.205 2.93333 9.53333 2.605 9.53333 2.2C9.53333 1.79499 9.205 1.46666 8.79999 1.46666C8.39498 1.46666 8.06666 1.79499 8.06666 2.2C8.06666 2.605 8.39498 2.93333 8.79999 2.93333Z")
                .inst__text @softwines_by
