section.main
    .container.main__container
        .main__content
            h1.main__title Безалкогольное вино в Минске
            .alcohol.main__alcohol 0.0% alcohol
            p.main__text Компания Soft Wines является эксклюзивным дилером премиальных 
                |безалкогольных вин линейки WINEZERO (Италия) в Республике Беларусь. 
                |Наша миссия состоит в том, чтобы предоставить 
                |вам достойную альтернативу алкоголю.
            a.main__btn.btn.order(href="#order") Выбрать вино