section.payment.payment_padding
    .payment__content
        h2.payment__title Оплата и доставка в Минске
        ol.payment__step-list.step-list
            li.step-list__item 
                p.step-list__item-text Вы заказываете и оплачиваете вино на сайте
            li.step-list__item 
                p.step-list__item-text Мы связываемся с вами и уточняем детали доставки или самовывоза 
            li.step-list__item 
                p.step-list__item-text В назначенное время вы получаете вино и наслаждаетесь!
        .payment__choice
            a.payment__btn.btn(href="#ex2" rel="modal:open") Выбрать вино
            a(href="#ex1" rel="modal:open").conditions Условия доставки и оплаты