section.wines.wine_padding
    ul.wines-list
        li.wines-list__item.wine
            img(src="img/wines/1.png", alt="wine").wine__img
            .wine__info
                .wine-important
                    .wine-important__name
                        .wine-important__title Extra Dry
                        .wine-important__kind Игристое белое сухое вино
                    .wine-important__price 30 р.
                ul.wine-about
                    li.wine-about__row
                        .wine-about__characteristic Алкоголь:
                        .wine-about__property 0.0%
                    li.wine-about__row
                        .wine-about__characteristic Эн. ценность:
                        .wine-about__property 9 ккал/100 г
                    li.wine-about__row
                        .wine-about__characteristic Температура подачи:
                        .wine-about__property 11-12 С
                    li.wine-about__row
                        .wine-about__characteristic Объём:
                        .wine-about__property  750 мл
                    li.wine-about__row
                        .wine-about__characteristic Производитель:
                        .wine-about__property Winezero, Galleria Crispi 5, 36100 Vicenza Vicenza, Italy
        li.wines-list__item.wine
            img(src="img/wines/2.png", alt="wine").wine__img
            .wine__info
                .wine-important
                    .wine-important__name
                        .wine-important__title Extra Dry
                        .wine-important__kind Игристое белое сухое вино
                    .wine-important__price 30 р.
                ul.wine-about
                    li.wine-about__row
                        .wine-about__characteristic Алкоголь:
                        .wine-about__property 0.0%
                    li.wine-about__row
                        .wine-about__characteristic Эн. ценность:
                        .wine-about__property 9 ккал/100 г
                    li.wine-about__row
                        .wine-about__characteristic Температура подачи:
                        .wine-about__property 11-12 С
                    li.wine-about__row
                        .wine-about__characteristic Объём:
                        .wine-about__property  750 мл
                    li.wine-about__row
                        .wine-about__characteristic Производитель:
                        .wine-about__property Winezero, Galleria Crispi 5, 36100 Vicenza Vicenza, Italy
        li.wines-list__item.wine
            img(src="img/wines/3.png", alt="wine").wine__img
            .wine__info
                .wine-important
                    .wine-important__name
                        .wine-important__title Extra Dry
                        .wine-important__kind Игристое белое сухое вино
                    .wine-important__price 30 р.
                ul.wine-about
                    li.wine-about__row
                        .wine-about__characteristic Алкоголь:
                        .wine-about__property 0.0%
                    li.wine-about__row
                        .wine-about__characteristic Эн. ценность:
                        .wine-about__property 9 ккал/100 г
                    li.wine-about__row
                        .wine-about__characteristic Температура подачи:
                        .wine-about__property 11-12 С
                    li.wine-about__row
                        .wine-about__characteristic Объём:
                        .wine-about__property  750 мл
                    li.wine-about__row
                        .wine-about__characteristic Производитель:
                        .wine-about__property Winezero, Galleria Crispi 5, 36100 Vicenza Vicenza, Italy











//- Rosso Красное сухое вино 30 р.
//- Алкоголь: 0.0% Эн. ценность: 9 ккал/100 г Температура подачи: 11-12 С Объём: 750 мл Производитель: Winezero , Galleria Crispi 5 , 36100 Vicenza Vicenza , Italy





//- Extra Dry Игристое белое сухое вино 30 р. 


//-  Алкоголь: 0.0% Эн. ценность: 9 ккал/100 г Температура подачи: 5-6 С Объём: 750 мл Производитель: Winezero , Galleria Crispi 5 , 36100 Vicenza Vicenza , Italy 




//-  Bianco
//-  Белое сухое вино
//-  30 р.
//-   Алкоголь: 0.0% Эн. ценность: 9 ккал/100 г Температура подачи: 5-6 С Объём: 750 мл Производитель: Winezero , Galleria Crispi 5 , 36100 Vicenza Vicenza , Italy



//-   В корзину




