section.wines
    .container.wines__container
        .wines-navigation
            a(href="/").wines-navigation__prev  
            a(href="/").wines-navigation__next
        ul.wines-list
            li.wines-list__item.wine
                .wine__img
                    img(src="img/wines/1.png", alt="wine").wine__img-pic
                .wine__info
                    .wine-important
                        .wine-important__name
                            .wine-important__title Rosso 
                            .wine-important__kind Красное сухое вино
                        .wine-important__price 30 р.
                    ul.wine-about
                        li.wine-about__row
                            .wine-about__characteristic Алкоголь:
                            .wine-about__property 0.0%
                        li.wine-about__row
                            .wine-about__characteristic Эн. ценность:
                            .wine-about__property 9 ккал/100 г
                        li.wine-about__row
                            .wine-about__characteristic Температура подачи:
                            .wine-about__property 11-12 С
                        li.wine-about__row
                            .wine-about__characteristic Объём:
                            .wine-about__property  750 мл
                        li.wine-about__row
                            .wine-about__characteristic Производитель:
                            .wine-about__property Winezero, Galleria Crispi 5, 36100 Vicenza Vicenza, Italy
                .wine__buy
                    a.btn.disabled(href="#basket" rel="modal:open") Нет в наличии
            li.wines-list__item.wine
                .wine__img
                    img(src="img/wines/2.png", alt="wine").wine__img-pic
                .wine__info
                    .wine-important
                        .wine-important__name
                            .wine-important__title Extra Dry
                            .wine-important__kind Игристое белое сухое вино
                        .wine-important__price 30 р.
                    ul.wine-about
                        li.wine-about__row
                            .wine-about__characteristic Алкоголь:
                            .wine-about__property 0.0%
                        li.wine-about__row
                            .wine-about__characteristic Эн. ценность:
                            .wine-about__property 9 ккал/100 г
                        li.wine-about__row
                            .wine-about__characteristic Температура подачи:
                            .wine-about__property 5-6 С
                        li.wine-about__row
                            .wine-about__characteristic Объём:
                            .wine-about__property  750 мл
                        li.wine-about__row
                            .wine-about__characteristic Производитель:
                            .wine-about__property Winezero, Galleria Crispi 5, 36100 Vicenza Vicenza, Italy
                .wine__buy
                    a.btn(href="#basket" rel="modal:open") В корзину
            li.wines-list__item.wine
                .wine__img
                    img(src="img/wines/3.png", alt="wine").wine__img-pic
                .wine__info
                    .wine-important
                        .wine-important__name
                            .wine-important__title Bianco
                            .wine-important__kind Белое сухое вино
                        .wine-important__price 30 р.
                    ul.wine-about
                        li.wine-about__row
                            .wine-about__characteristic Алкоголь:
                            .wine-about__property 0.0%
                        li.wine-about__row
                            .wine-about__characteristic Эн. ценность:
                            .wine-about__property 9 ккал/100 г
                        li.wine-about__row
                            .wine-about__characteristic Температура подачи:
                            .wine-about__property 5-6 С
                        li.wine-about__row
                            .wine-about__characteristic Объём:
                            .wine-about__property  750 мл
                        li.wine-about__row
                            .wine-about__characteristic Производитель:
                            .wine-about__property Winezero, Galleria Crispi 5, 36100 Vicenza Vicenza, Italy
                .wine__buy
                    a.btn(href="#basket" rel="modal:open") В корзину           
            //-li.wines-list__item.wine
                .wine__img
                    img(src="img/wines/3.png", alt="wine").wine__img-pic
                .wine__info
                    .wine-important
                        .wine-important__name
                            .wine-important__title Extra Dry
                            .wine-important__kind Игристое белое сухое вино
                        .wine-important__price 30 р.
                    ul.wine-about
                        li.wine-about__row
                            .wine-about__characteristic Алкоголь:
                            .wine-about__property 0.0%
                        li.wine-about__row
                            .wine-about__characteristic Эн. ценность:
                            .wine-about__property 9 ккал/100 г
                        li.wine-about__row
                            .wine-about__characteristic Температура подачи:
                            .wine-about__property 11-12 С
                        li.wine-about__row
                            .wine-about__characteristic Объём:
                            .wine-about__property  750 мл
                        li.wine-about__row
                            .wine-about__characteristic Производитель:
                            .wine-about__property Winezero, Galleria Crispi 5, 36100 Vicenza Vicenza, Italy
                .wine__buy
                    a.btn(href="#ex2" rel="modal:open") В корзину   