@mixin ssView {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin sView {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin smView {
  @media (max-width: 670px) {
    @content;
  }
}

@mixin mView {
  @media (max-width: 850px) {
    @content;
  }
}

@mixin slView {
  @media only screen and (max-width: 950px) {
    @content;
  }
}

@mixin mlView {
  @media only screen and (max-width: 1070px) {
    @content;
  }
}

@mixin lView {
  @media only screen and (max-width: 1250px) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "ProximaNova", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
}

html {
  -webkit-overflow-scrolling: touch;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h3,
h1,
h2,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

section {
  height: 100%;
  padding-top: 75px;
  padding-bottom: 30px;

  @include slView {
    padding-bottom: 0;
  }

  @include mlView {
    padding-top: 30px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: #04081c;
  font-size: 74px;
  font-weight: 900;
  line-height: 1;

  @include mlView {
    font-size: 62px;
  }
  @include smView {
    font-size: 44px;
  }

  @include ssView {
    font-size: 30px;
    line-height: 1.3;
  }
}

h2 {
  color: #04081c;
  font-size: 62px;
  font-weight: 800;
  line-height: 1;
  @include mlView {
    font-size: 50px;
  }

  @include slView {
    font-size: 40px;
  }
  @include smView {
    font-size: 35px;
  }

  @include ssView {
    font-size: 30px;
  }
}

h3 {
  color: #04081c;
  font-size: 54px;
  font-weight: 800;
  line-height: 1;

  @include mView {
    font-size: 42px;
  }

  @include ssView {
    font-size: 35px;
  }
}

h4 {
  font-size: 35px;
  color: #01000b;

  @include mView {
    line-height: 1;
    font-size: 24px;
  }

  @include sView {
    line-height: 1;
    font-size: 20px;
  }
}

p {
  font-size: 18px;
  color: #04081c;
  @include slView {
    font-size: 16px;
  }
  
  @include ssView {
    font-size: 14px;
    line-height: 1.6;
  }
}
