.conditions-modal.modal#ex1
    .conditions-modal__content
        .conditions-modal__title Условия доставки и оплаты 
        .conditions-modal__text.terms-receipt
            .terms-receipt__title Доставка
            p.terms-receipt__text Прием заказов через сайт — круглосуточно. Обработка заказов с сайта осуществляется с 10 до 19. Доставка день в день возможна при приеме заказа до 13:00*. После 13:00осуществляется прием заказов на следующий день. 
            p.terms-receipt__text *Доставка по выходным и праздничным дням оговаривается отдельно. 
            p.terms-receipt__text Время доставки с 15 до 20 часов. 
            p.terms-receipt__text Стоимость доставки в пределах МКАД – 5р. 
            p.terms-receipt__text От 50 р. доставка в пределах МКАД осуществляется бесплатно. 
            .terms-receipt__title Самовывоз
            p.terms-receipt__text Нашу продукцию можно самостоятельно забрать в районе ст.м. Восток и ст.м. Пролетарская. Самовывоз с 10:00 до 19:00 по предварительному согласованию. 
            .terms-receipt__title Оплата
            p.terms-receipt__text Оплата банковскими картами осуществляется через ЗАО «Альфа-Банк». 
            p.terms-receipt__text К оплате принимаются карты международных платежных систем VISA, MasterCard. 
            p.terms-receipt__text Безопасность совершения платежа обеспечивается современными методами проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных карточки осуществляется на защищенной авторизационной странице банка. 
            p.terms-receipt__text Для оплаты необходимо ввести реквизиты карточки: номер, имя держателя, срок действия и трехзначный код безопасности. Трёхзначный код безопасности (CVV2 для VISA, CVC2 для MasterCard) —это три цифры, находящиеся на обратной стороне карточки. Если карточка поддерживает технологию 3DSecure, для ввода кода безопасности Вы будете перенаправлены на страницу банка, выпустившего карточку. Предоставляемая Вами персональная информация является конфиденциальной и не подлежит разглашению. Данные карточки передаются только в зашифрованном виде и не сохраняются на данном интернет-ресурсе. 
            p.terms-receipt__text При оплате банковской платежной карточкой возврат наличными денежными средствами не допускается. Расчеты с потребителем при возврате уплаченной за товар денежной суммы, при расторжении договора о выполнении работы (оказании услуги) осуществляются в той же форме, в которой производилась оплата товара, работы (услуги), если иное не предусмотрено соглашением сторон. 
            p.terms-receipt__text Порядок возврата регулируется правилами международных платежных систем. 
            p.terms-receipt__text Процедура возврата товара регламентируется Законом Республики Беларусь от 9 января 2002 г. N 90-З «О защите прав потребителей».
