footer.footer
    .footer__container
        .order-time.footer__row
            .order-time__title.footer__title Заказы
            .order-time__text Обрабатываются с 10 до 18 часов
        .telephone.footer__row
            .telephone__title.footer__title Контакты
            a(href="tel:+375293953867").telephone__tel-link +375 29 395 38 67 
        .types-payment.footer__row
            .types-payment__title.footer__title Оплата 
            ul.types-payment-list
                li.types-payment-list__item
                    img(src="img/icons/ms card.svg", alt="type-payment").types-payment-list__img
                li.types-payment-list__item
                    img(src="img/icons/alfa.svg", alt="type-payment").types-payment-list__img
                li.types-payment-list__item
                    img(src="img/icons/visa.svg", alt="type-payment").types-payment-list__img
        .ip-company 
            p.ip-company__text ИП Ахрамович Е.С. УНП 193262318 от 31.05.2019, торговый реестр от 12.06.2019