.advantage{
    .advantage__item{
        padding-left: 14px;
        margin-bottom: 6px;
        position: relative;
        &::before{
            content: "";
            width: 5px;
            height: 5px;
            background: #BD0D0D;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            border-radius: 50%;
        }
    }
}