.alcohol {
  color: #fff;
  background: #bd0d0d;
  border-radius: 3px;
  display: inline-block;
  padding: 8px 16px;
  line-height: 1;
  font-weight: 800;
  font-size: 24px;
  @include smView {
    font-size: 18px;
  }
  @include ssView {
    padding: 4px 8px;
    font-size: 14px;
  }
}
