.basket-item__left {
  width: 21%;
  width: 15%;
  max-width: 95px;
  min-width: 75px;
  @include sView {
    min-width: 55px;
  }
}
.basket-item__right {
  display: flex;
  width: 78.5%;
  padding-left: 8.5%;
  padding-top: 16px;
  justify-content: space-between;
  @include mView {
    width: 86%;
  }
  @include sView {
    padding-left: 10px;
  }
  @include ssView {
    padding-left: 0;
  }
}
a.basket-item__del {
  position: absolute;
  display: block;
  top: 71px;
  right: 37px;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background-image: none;
  cursor: pointer;
  @include mView {
    top: 14%;
    right: 4%;
  }
  @include sView {
    right: 1.5%;
  }
  @include ssView {
    right: -0.5%;
  }
  &:before,
  &:after {
    position: absolute;
    left: 9px;
    top: 3px;
    content: " ";
    height: 15px;
    width: 2px;
    background-color: #000;
    border-radius: 1px;
    @include ssView {
      height: 10px;
    }
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
