.btn {
    padding: 9px 74px;
    border-radius: 3px;
    display: inline-block;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    transition: background .5s;
    transition: color .6s;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid #bd0d0d;
        top: 0;
    left: 0;
    border-radius: 3px;

    }
    &.btn-disabled {
        border: 2px solid #c4c4c4;
        color: #a7a7a7;
        pointer-events: none;
        cursor: default;
        &:before{
            border: 0;
        }
    }
    &:hover {
        background: #bd0d0d;
        color: #fff;
    }
    &:focus {
        background: #bd0d0d;
        outline: 0;
        color: #fff;
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
        &:before{
            border: 0;
        }
    }
    @include mView {
        color: #fff;
    }
    @include sView {
        font-size: 14px;
    }
}

.btn-form {
    border: 2px solid #68b916;
    background-color: #fff;
    padding: 11px 47px;
    cursor: pointer;
    &:hover {
        background: #68b916;
        border: 2px solid #68b916;
        color: #fff;
    }
    &:focus {
        background: #68b916;
        padding: 13px 49px;
        border: 0;
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
        outline: 0;
    }
    @include mView {
        background: #68b916;
        padding: 9px 74px;
    }
}

.btn-registration {
    background: #68B916;
    border: 2px solid #68B916;
    padding: 9px 69px;
    cursor: pointer;
    color: #fff;
    &:hover {
        background: #84E225;
        border: 2px solid #68B916;
    }
    &:focus {
        background: #84E225;
        border: 2px solid #68B916;
        padding: 9px 69px;
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
        outline: 0;
    }
}