// .blocker{
//   position: fixed;
//    pointer-events: none;
// }

   




.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    max-width: 758px;
    box-sizing: border-box;
    width: 758px;
    background: #fff;
    padding: 55px 63px;
    box-shadow: none;
    border-radius: 0;
    z-index: 100;
  


    @include mView {
      width: 100%;
      padding: 15px;
  }
  .conditions-modal__title{
    @include mView {
      padding-right: 40px;
    }
}
}
.blocker{
  z-index: 100;
}
.modal a.close-modal {
    position: absolute;
    display: block;
    top: 26px;
    right: 28px;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background-image:none;
    opacity: 0.3;
    @include sView {
      top: 20px;
    right: 20px;
  }
    &:before, &:after {
        position: absolute;
        left: 10px;
        content: ' ';
        height: 20px;
        width: 1px;
        background-color: #333;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
      &:hover {
        opacity: 1;
      }
}