.contact {
    .contact__tel-link {
        color: #585858;
        font-size: 19px;
        font-weight: 700;
    }

    .contact__inst-link {
        color: #a7a7a7;
        font-size: 12px;
    }
}