.input-place {
  display: inline-block;
  position: relative;

  .input-place__label {
    position: absolute;
    top: -11px;
    left: 23px;
    background-color: #fff;
    font-size: 10px;
    padding: 5px;
  }
  .input-place__text {
    padding: 12px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #c4c4c4;
    font-size: 14px;
    width: 100%;
    @include sView {
      font-size: 12px;
    }
    &:focus {
      border: 1px solid #68b916;
    }
  }
}
.input-place {
  .error{
    border: 1px solid #bd0d0d;
}
}
.radio {
  cursor: pointer;
  position: relative;
  flex: none;
  display: flex;
  color: #a7a7a7;
  @include sView {
    font-size: 14px;
  }
  .radio__text:before {
    content: " ";
    width: 19px;
    height: 19px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 1px solid red;
    border-radius: 2px;
  }
}

.radio__input:checked ~ .radio__text:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4.5px;
  background-image: url("../img/icons/check.svg");
  border-radius: 75%;
  transform: translateY(-50%);
  width: 14px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: contain;
}

.radio__text {
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.input-place_center {
  .input-place__text {
    text-align: center;
  }
  .input-place__label {
    left: 50%;
    transform: translateX(-50%);
  }
}

#not-self-delivery,
#self-delivery {
  display: none;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  &:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 47%;
    transform: translateY(-50%) rotate(45deg);
    right: 15px;
    border-bottom: 1px solid #a7a7a7;
    border-right: 1px solid #a7a7a7;
  }
}
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

select {
  padding: 10px;
  outline: 0;
  border-radius: 5px;
  outline: 0;
  border: 1px solid #c4c4c4;
  font-size: 14px;
  line-height: 1;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 150px;
}
