.inst {
  display: inline-flex;
  .inst__text {
    color: #a7a7a7;
    font-size: 12px;
    position: relative;
    margin-left: 5px;
  }
  .inst__icon {
    fill: #c4c4c4;
    border-radius: 2px;
  }
  &:hover {
    .inst__text {
      color: #bd0d0d;
    }

    .inst__icon {
      fill: #bd0d0d;
    }
  }
}
