.order-modal {
  z-index: 100;
  .order-modal__title {
    font-size: 35px;
    font-weight: 800;
    padding-left: 13px;
    @include mView {
      font-size: 30px;
      line-height: 1;
    }
    @include sView {
      padding-left: 0;
      margin-bottom: 10px;
    }
  }
  &.modal {
    padding: 55px 50px;
    @include mView {
      width: 100%;
      padding: 15px;
    }
  }
}
