.payment-form{
    .payment-form__title{
        font-size: 35px;
        color: #01000B;
        font-weight: 700;
    }
    .payment-form__subtitle{
        font-size: 18px;
        color: #01000B;
    }

}