ol {
  counter-reset: myCounter;
  width: 450px;
  @include mView {
    width: 80%;
  }
  @include ssView {
    width: 100%;
  }
  p {
    @include sView {
      line-height: 1.4;
    }
  }
  li {
    padding-left: 65px;
    list-style: none;
    position: relative;
    margin-bottom: 28px;
    @include slView {
      font-size: 16px;
    }
    @include sView {
      font-size: 14px;
      padding-left: 42px;
      margin-bottom: 8px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      counter-increment: myCounter;
      content: counter(myCounter);
      color: #000;
      text-align: center;
      width: 42px;
      height: 42px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      border: 2px solid #000000;
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      @include sView {
        font-size: 20px;
        width: 30px;
        height: 30px;
      }
    }
  }
}
