.step-list{
    counter-reset: myCounter;
    width: 450px;
    .step-list__item{
        padding-left: 65px;
        list-style: none;
        position: relative;
        margin-bottom: 28px;
        &:last-child{
            margin-bottom: 0;
        }
        &:before {
            counter-increment: myCounter;
            content:counter(myCounter);
            color: #000;
            text-align: center;
            width: 42px;
            height: 42px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            border: 2px solid #000000;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 800;
          }
    }
}

// ol{
//     counter-reset: myCounter;
//   }
  
//   li{
//     list-style: none;
//   }
  
//   li:before {
//     counter-increment: myCounter;
//     content:counter(myCounter);
//     color: white;
//     background: #2980B9;
//     display: inline-block;
//     text-align: center;
//     margin: 5px 10px;
//     line-height: 40px;
//     width: 40px;
//     height: 40px;
//   }