.terms-receipt{
    h5{
        font-weight: 800;
        margin-bottom: 20px;
        font-size: 18px;
    }
    p{
        margin-bottom: 20px; 
    }
}
.terms-receipt_margin{
    margin-top: 40px;
}