.wine-about{
    font-size: 18px;
    .wine-about__characteristic{
        color: #000000;
        display: inline;
    }
    .wine-about__property{
        color:#a7a7a7;
        display: inline;
        margin-left: 10px;
    }
   
}